.profile-card {
    width: 750px;
    height: auto;
    background-color: whitesmoke;
    margin: auto;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    @media (max-width: 900px) {
      width: auto; /* Set the width to auto when the display width is less than 900px */
    }
    .profile-info {
      display: flex;
      justify-content: space-between;
      .profile-image {
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid #cacaca;
        padding: 5px;
        cursor: pointer;
      }
      .right-info {
        margin-top: 50px;
        margin-right: 300px;
        .college,
        .company {
          font-family: system-ui;
          color: rgba(0, 0, 0, 0.9);
          font-size: 14px;
          font-weight: 600;
          line-height: 30px;
          margin-top:0px;
          margin-bottom: 25px;
        }
  
        .company {
          margin-top: -15px;
        }
      }
    }

    .skill-label {
      font-weight: 600;
    }
    .skills{
      margin-top: 15px;
      color:#444343;
    }
    .edit-btn {
      position: absolute;
      right: 20px;
  
      .edit-icon {
        width: 24px; /* Set your desired width */
        height: 24px; /* Set your desired height */
        border-radius: 50%; /* Make it rounded to resemble an icon */
        border: 1px solid #ccc; /* Optional: Add a border for better visibility */
        cursor: pointer; /* Add cursor style to indicate it's clickable */
      }
      
  
      .edit-icon:hover {
        background-color: rgb(197, 197, 197);
        padding: 10px;
        border-radius: 50%;
      }
    }
    .userName {
      font-family: system-ui;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 600;
      font-size: 24px;
      margin-top: -10px;
    }
  
    .heading {
      margin-top: 0px;
      font-family: system-ui;
      font-size: 16px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.9);
      width: 320px;
      line-height: 20px;
    }

    .location{
      margin-top:15px;
      color:#444343;
    }

    .about-me{
      margin-top: 15px;
      color: #444343;
    }

    .website {
      color: #004c75 !important;
      -webkit-link: #004c75;
      margin-top: 15px;
    }
  }

  .post-status-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }